<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Визуализация Численных Методов</title>
    <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
<h1>Визуализация Численных Методов</h1>
<p>Выберите численный метод.</p>
<button onclick="window.location.href='interpolation'">Метод линейной интерполяции данных</button><br>
<button onclick="window.location.href='page2.html'">Страница 2</button><br>
<button onclick="window.location.href='page3.html'">Страница 3</button><br>
<button onclick="window.location.href='page4.html'">Страница 4</button><br>
<button onclick="window.location.href='page5.html'">Страница 5</button>
</body>
</html>
